<div class="container home centertext" ng-class="{dark: lightsout}">    
      <h1>Welcome to</h1>
      <div ng-if="!lightsout" class="jumbotron text-center">
        <h1><b>Benjamin Huang's</b></h1>
        <h2><b>Showcase</b></h2>
      </div>
      <h1 ng-if="lightsout"><b>Benjamin Huang's</b></h1>
      <h2 ng-if="lightsout"><b>Showcase</b></h2>
    <br>
        <button ui-sref="blog" class="btn btn-primary btn-lg">Blog</button>
        <button ui-sref="resourcespage" class="btn btn-primary btn-lg">Resources</button>
        <button ui-sref="teachingpage" class="btn btn-primary btn-lg">Teaching Strategies</button>
        <button ui-sref="tpes" class="btn btn-primary btn-lg">Go to TPEs</button>
        <button ui-sref="resume" class="btn btn-primary btn-lg">View My Extended Resume</button>      
    </ul>
</div>